<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<!--AMBIENTE PRODUÇÃO-->
<appSettings>
  <add key="Analise" value="http://localhost:8090/api/v1/Analise"/>
  <add key="Corretora" value="http://localhost:8104/api/v1/Corretora"/>
  <add key="Cotacao" value="http://localhost:8085/api/v1/Cotacao"/>
  <add key="CotacaoOnline" value="http://localhost:8084/api/v1/CotacaoOnline"/>
  <add key="Fechamento" value="http://localhost:8094/api/v1/Fechamento"/>
  <add key="Resultado" value="http://localhost:8091/api/v1/Resultado"/>
  <add key="Seguranca" value="http://localhost:8095/api/v1/Seguranca" />
</appSettings>
  
<!--AMBIENTE DESENVOLVIMENTO-->
<!--<appSettings>
  <add key="Analise" value="https://localhost:7211/api/v1/Analise"/>
  <add key="Corretora" value="https://localhost:7221/api/v1/Corretora"/>
  <add key="Cotacao" value="https://localhost:7121/api/v1/Cotacao"/>
  <add key="CotacaoOnline" value="https://localhost:7254/api/v1/CotacaoOnline"/>
  <add key="Fechamento" value="https://localhost:7235/api/v1/Fechamento"/>
  <add key="Resultado" value="https://localhost:7164/api/v1/Resultado"/>
  <add key="Seguranca" value="https://localhost:7062/api/v1/Seguranca" />
</appSettings>-->

</configuration>