<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
  <add key="Analise" value="http://localhost:8090/api/v1/Analise"/>
  <add key="Corretora" value="http://localhost:8104/api/v1/Corretora"/>
  <add key="Seguranca" value="http://localhost:8095/api/v1/Seguranca" />
</appSettings>
</configuration>